<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="turbolinks-root" content="/app">
  <script src="/bundle.js" async></script>
</head>
<body>
    <div id=page data-controller="page" class="container">