<table class="table">
    <thead>
        <tr>
            <th>
                Property
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
            Shake ID
            </th>
            <td>
            {{shake_id}}
            </td>
        </tr>
        <tr>
            <th>
            Time
            </th>
            <td>
            {{time}}
            </td>
        </tr>
        <tr>
            <th>
            Location
            </th>
            <td>
            {{location_description}}
            </td>
        </tr>
        <tr>
            <th>
            Magnitude
            </th>
            <td>
            {{magnitude}}
            </td>
        </tr>
        <tr>
            <th>
            Depth
            </th>
            <td>
            {{depth}}
            </td>
        </tr>
    </tbody>
</table>