{{> partials/header }}
<div data-controller="earthquake-list"
    data-earthquake-list-state="initial" class="panel">
    <div>
        <h1>Earthquakes in Indonesia</h1>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Magnitude
                    </th>
                    <th>
                        Depth
                    </th>
                    <th>
                        Shake ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Loading data...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{> partials/footer }}